body{
    text-align: center;
}
div{
    justify-content: space-around;
    display: flex;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#computerChoiceDisplay, #playerChoiceDisplay{
    font-size: 500%;
}

#selectionContainer{
    border: #4CAF50 solid 5px;
}

#sep{
    font-size: 250%;
}